C_sharp/Lab06/ClientWCF/Connected Services/ComplexCalcReference/MyComplexCalc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyComplexCalc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10004/Complex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10004/Complex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10004/Complex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContractWCFLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICCalculator_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="ICCalculator_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="ICCalculator_sub_InputMessage">
    <wsdl:part name="parameters" element="tns:sub" />
  </wsdl:message>
  <wsdl:message name="ICCalculator_sub_OutputMessage">
    <wsdl:part name="parameters" element="tns:subResponse" />
  </wsdl:message>
  <wsdl:message name="ICCalculator_mul_InputMessage">
    <wsdl:part name="parameters" element="tns:mul" />
  </wsdl:message>
  <wsdl:message name="ICCalculator_mul_OutputMessage">
    <wsdl:part name="parameters" element="tns:mulResponse" />
  </wsdl:message>
  <wsdl:message name="ICCalculator_div_InputMessage">
    <wsdl:part name="parameters" element="tns:div" />
  </wsdl:message>
  <wsdl:message name="ICCalculator_div_OutputMessage">
    <wsdl:part name="parameters" element="tns:divResponse" />
  </wsdl:message>
  <wsdl:portType name="ICCalculator">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCalculator/add" message="tns:ICCalculator_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCalculator/addResponse" message="tns:ICCalculator_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCalculator/sub" message="tns:ICCalculator_sub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCalculator/subResponse" message="tns:ICCalculator_sub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mul">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCalculator/mul" message="tns:ICCalculator_mul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCalculator/mulResponse" message="tns:ICCalculator_mul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="div">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCalculator/div" message="tns:ICCalculator_div_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCalculator/divResponse" message="tns:ICCalculator_div_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICCalculator" type="tns:ICCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/ICCalculator/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://tempuri.org/ICCalculator/sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap:operation soapAction="http://tempuri.org/ICCalculator/mul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
      <soap:operation soapAction="http://tempuri.org/ICCalculator/div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyComplexCalc">
    <wsdl:port name="BasicHttpBinding_ICCalculator" binding="tns:BasicHttpBinding_ICCalculator">
      <soap:address location="http://localhost:10004/Complex/endpoint1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>